.viewer-wrapper-container {
    width: 256px;
    height: 256px;
    border: 1px solid rgba(gray, 0.1);
}

.options {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    background-color: black;
    color: slategray;
    padding: 20px;
    font-size: 12px;

    &-title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }

    &-subtitle {
        margin: 20px 0 10px 0;
        text-transform: uppercase;
    }

    &-component {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
