.scene {
  color: white;
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  &.visible {
    display: block;
  }
  .three-root {
    position: absolute;
    top: 0;
    left: 0;
  }
}
